:root {
  --primary-color: #000000;
  --background-color: #ffffff;
  /* Add more global variables as needed */
}


@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Work+Sans:wght@500&display=swap");

body {
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Work Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiButton-text {
  color: #19191A !important;
  background-color: transparent !important;
  font-size: 0.7rem !important;
  font-weight: 600 !important;
}

.MuiButton-contained{
  background-color: #19191A !important;
  color: #FFFFFF !important;
  font-weight: 600 !important;
}